/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles */
/* body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  } */

header {
    width: 100%;
    height: 7vh;
    background-color: #fff;
    padding: 10px;
    align-items: center;
    border: 1px solid gray;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: right;

}

header nav ul li {
    font-size: 22px;
    margin: 10px 30px;
}

nav a {
    color: gray;
    text-decoration: none;
}

/* main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
} */



/* Booking form */

.booking-form {
    /* background-color: #f5f5f5; */
    /* background-repeat: no-repeat;
    background-size: cover;
    background-image: url("bus2"); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0 0; */
    width: 100%;
    height: 400px;
}

.booking-form h1 {
    padding: 30px;
}

.booking-form form {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin: 0 auto; */
    width: 90%;
    height: 100%;
    padding: 10px;
}

.booking-form form label,
input,
button {
    margin: 10px;
    font-size: 20px;
}