/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Base styles */
/* body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  } */

header {
    width: 100%;
    height: 7vh;
    background-color: #fff;
    padding: 10px;
    align-items: center;
    border: 1px solid gray;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: right;

}

header nav ul li {
    font-size: 22px;
    margin: 10px 30px;
}

nav a {
    color: gray;
    text-decoration: none;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.booking-form {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
}

.bus-results {
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.bus-results h2 {
    margin-bottom: 10px;
}

.bus-results li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.bus-results li:last-child {
    border-bottom: none;
}

.bus-results h3 {
    margin-bottom: 10px;
}

.bus-results button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.bus-results button:hover {
    background-color: #fff;
    color: #333;
    border: 1px solid #333;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}