/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    width: 100%;
    height: 7vh;
    background-color: #363352;
    padding: 10px;
    align-items: center;
    border: 1px solid gray;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: right;

}

header nav ul li {
    font-size: 22px;
    margin: 10px 30px;
}

nav a {
    color: gray;
    text-decoration: none;
}

/* Hover on header */
header nav ul li a:hover {
    color: white;
}

/* Login Button */



.login_btn {
    background-color: #363352;
    color: white;
    /* border: 2px solid #4CAF50; */
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px;
    font-weight: bold;
    border: 1px solid gray;
    font-size: 17px;
}

.login_btn:hover {
    background-color: #a3ca09b0;
}

/* Header over */


/* Booking form */

.booking-form {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("bus3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -65px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 500px;

}

.booking-form h1 {
    /* padding: 60px; */
    color: white;
    margin-bottom: -100px;
    font-size: 50px;
}

.booking-form form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 100px;
    border: 1px solid gray;
    border-radius: 15px;
    color: white;
    background-color: #36335275;
}





.booking-form form label,
input {
    margin: 15px;
    font-size: 20px;
    /* color: white; */
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: gray;
}

.booking-form form label {
    color: white;
    font-size: 20px;
}

.booking-form form input {
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    /* border-radius: 5px; */
    cursor: pointer;

}

.booking-form form button {
    width: 200px;
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    /* padding: 0 -20px 0 0; */
    border: none;
    border-radius: 15px;
    background-color: rgb(110 104 81);
    color: white;
    cursor: pointer;
    margin: 15px;
}

.booking-form form button:hover {
    background-color: rgb(246, 255, 0);
    color: black;
}

/* Make all placeholder to center */
input::-webkit-input-placeholder {
    text-align: center;
}


/* Remove all input border */
input {
    border: none;
    border-radius: 3px;
}

/* Remove all input outline */
input:focus {
    outline: none;
}

/* Remove all button border */

button {
    border: none;
    border-radius: 3px;
}

/* Remove all button outline */
button:focus {
    outline: none;
}

/* Remove all button cursor */

button {
    cursor: pointer;
}

/* booking-form over */

/* Bus results start */

.bus-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.bus-results h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.bus-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bus-results li {
    width: 54vw;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.bus-results li h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.bus-results li p {
    font-size: 16px;
    margin-bottom: 5px;
}

.bus-results li button {
    background-color: #302dba;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 10px 30px;
    font-weight: bold;
    width: 150px;
    height: 60px;

}

.bus-results li button:hover {
    background-color: #dafb00;
    color: black;
}

.bus-results li .forFlex {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.bus-results .daba .busImg img {
    width: 370px;
    height: 160px;
    border-radius: 5px;
}

/* Bus results done */

/* Footer start */

footer {
    background-color: #363352;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
}

footer a {
    color: white;
    text-decoration: underline;
    /* font-size: 20px;
    font-weight: bold; */
    cursor: pointer;
}

footer a:hover {
    color: yellow;
    cursor: pointer;
}